{% extends "base.html" %} {% load static %} {% block content %}
<h3>Products</h3>
<div class="text-right mb-4">
  <a class="btn btn-outline-info" href="/insert">Insert New Product</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stock}}</td>
      <td>
        <a href="/edit_product/{{product.id}}"><img class="edit" src="{% static 'img/icons/edit.svg' %}" alt="Edit Icon" /></a>
      </td>
      <td>
        <a href="/delete_product/{{product.id}}"><img class="trash" src="{% static 'img/icons/trash.svg' %}" alt="Trash Icon" /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
