{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .up {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .end {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
<div class="up">
    <h3>Items added to Cart</h3>
    <a href="#">Back Shopping</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

<div class="end">
    <a href="">Buy</a>
    <p>Toltal Price</p>
</div>
{% endblock content %}