{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="{% static 'js/script.js' %}"></script>
<style>

.cathome {
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.cathome div a img{
    width:70% ;
    height: 70%;
}
.cathome div p{
    font-size:100%;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}
.accessorieshome{
    text-align: center;
}
.electronichome{
    text-align: right;
}
.category{
    padding-right: 84px;
}

</style>
<div class="container">
    <div  class="cathome row">
        <div class="col-lg">
            <a href=""><img src="{% static 'img/shisahome.jpg' %}"  alt="Shisha"></a>
            <p class="category">SHISHA</p>
        </div>
        <div  class="accessorieshome col-lg">
            <a href=""><img src="{% static 'img/accessorieshome.jpg' %}"   alt="Shisha"></a>
            <p>ACCESSORIES</p>
        </div>
        <div class="electronichome col-lg">
            <a href=""><img src="{% static 'img/electronichome .png' %}"   alt="Shisha"></a>
            <p>ELECTRONIC</p>
        </div>
    </div>
    <div  class="cathome row">
        <div class="col-lg">
            <h2>category name</h2>
        </div>
    </div>
    <div  class="cathome row">
        <div class="col-lg">
            <h2>category name</h2>
        </div>
    </div>


</div>

{% endblock content %}