{% extends "base.html" %}
{% block content %}
<style>
    .top_part {
        display: flex;
    }

    .top_part h3 {
        display: inline-block;

    }

    .top_part hr {
        width: 70%;
        height: 1px;
        margin-left: 1px;
        margin-top: 39px;
    }

    .middle {
        display: flex;
        
    }

    .main_image {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .main_image img {
        width: 180px;
        height: 250px;
        margin: 40px 40px 40px 170px;
    }

    .content {
        display: grid;
        text-align: center;
    }

    .content a {
        padding-left: 134px;
    }

    .content_items img {
        width: 90px;
        height: 100px;
    }

    .items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content_items {
        display: grid;
        text-align: -webkit-center;
    }
</style>
<div>
    
</div>

{% endblock content %}