{% extends "base.html" %}
{% load static %}
{% block content %}
<a href="/product">Products</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Order_id</th>
            <th scope="col">Date</th>
            <th scope="col">Total_price</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <th scope="row">{{order.id}}</th>
            <td>{{order.created_at}}</td>
            <td>{{order.total_price}}</td>
            <td>{{order.status}}</td>
            <td><a href="/edit">edit</a></td>
            <td><a href="/edit"><img src="{% static 'img/products/trash.PNG' %}" height="34px" alt="trash"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}