{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/page2.css' %}">
    <div class="shisha">
        <div class="shisha_description">
            <div >
                <h3> Shisha</h3>
                <img src="{% static 'img/shishaa.jpg' %}" alt="shisha">
            </div>
            <div class="description_img">
                <label>
                    <strong>Price : </strong> <p> 20 $</p>
                    <strong>Description : </strong> <p> Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                        . Nesciunt perferendis aspernatur maxime praesentium molestias vel eius, dolores,
                                                        ducimus tempora quasi rem quas iusto eligendi ullam
                                                        , commodi corporis cupiditate voluptates aperiam.</p>
                </label>
                <button type="button" onclick="alert('Add to Cart')">Add to Cart</button>
            </div>
        </div>
        <div class ="slides">
            <h3>shisha item </h3><br>
            <div class="slideshow_container">
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
                <div class="item"><img src="{% static 'img/shishaa.jpg' %}" alt="shishaa"></div>
            </div>       
        </div>
    </div>
{% endblock content %}