@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
	font-family: 'Montserrat', sans-serif;
}
header
{
	box-shadow: 14px 5px 20px black;
}
.navbar-brand > img
{
	width: 175px;
}
.social-media img,
.nav-link img
{
	width: 30px;
}
footer h4
{
	border-bottom: 1px solid #ccc;
	color: #999;
}
footer p
{
	text-align: justify;
}
.edit
{
	width: 20px;
}
.button-style
{
	background-color: black;
	border: solid 1px transparent;
	border-radius: 18px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: 300;
	height: 36px;
	transition: all .1s ease-in-out;
	width: 150px;
}
.button-style:hover
{
	background-color: transparent;
	border-color: #1c89ff;
	color: #1c89ff;
	transition: all .1s ease-in-out;
}
.butt
{
	border-radius: 3px;
}