
.navbar-brand img {
    width: 170px;
}
.nav-link {
font-size: 20px;
}
.social img {
width: 40px;
}
.copyright {
font-size: 18px;
}
#navleft {
    display: grid;
  }
  .butt{
    width: 258px;
  border-radius: 5px;
  }
  header{
    height: 140px;
  }
