.categories .card-img-overlay {
  background-color: rgba(100, 100, 100, 0.4);
}

.categories .card-img-overlay:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

.categories .card-img-overlay h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
}

.offer p {
  text-align: justify;
}
.carousel-inner{
  border-radius: 5px;
}
.card{
  box-shadow: 14px 5px 20px gray;
}