
.main_img div img {
    min-width: 100%;
    height: 80%;
}

.cathome {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.cathome div a img {
    width: 70%;
    height: 70%;
}

.cathome div p {
    font-size: 100%;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}

.accessorieshome {
    text-align: center;
}

.electronichome {
    text-align: right;
}

.offer div a img {
    width: 80%;
}

.offer div p {
    margin-top: 110px;

}

.category {
    padding-right: 84px;
}
