
.shisha{
    height: 664px;
    width: 900px;
    padding: 10px;
    border-style: dotted;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}
.shisha_description{
    display: flex;

}
.description_img button{
    border-radius: 25%;

}
.shisha_description div img {
    height: 250px;
    width: 250px;
}
.description_img{
    margin-top: 74px;
    margin-left: 45px;
}
.slideshow_container .item{
    margin: 3px;
}
.slideshow_container .item img{
    display: block;
    width: 100%;
    height: auto;
}
